@font-face {
  font-family: pong;
  src: url(../fonts/arcadeclassic.ttf);
}

body {
  font-family: pong;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
  background-image: url(../img/bg.jpg);
}

html,body,.container {
  min-height: 100%;
}

.container {
  margin-top: 50px;
  padding: 10px 50px;
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 100%;
  border: 2px solid #fff;
  border-radius: 5px;
}

#header {
  margin-bottom: 50px;
  border-bottom: 1px solid #fff;
}

#header h1 {
  font-size: 80px;
  text-shadow: 5px 5px 1px rgba(255,255,255,0.5);
}

#user-input {
  font-size: 20px;
}

#user-input .form-group select, #user-input .form-group input {
  font-size: 22px;
}

.btn {
  border-radius: 0;
  color: #fff;
  background-color: #000;
  font-size: 20px;
  width: 100%;
}

.details {
  font-size: 18px;
}

#results ul li {
  font-size: 18px;
  display: none;
}
